<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jsu.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="edu.jsu.pojo.domain.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="href" column="href" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="shown" column="shown" jdbcType="TINYINT"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,href,
        icon,name,description,
        order_num,shown,level,
        created_time,updated_time,created_by,
        updated_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from menu
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.Menu" useGeneratedKeys="true">
        insert into menu
        ( id,parent_id,href
        ,icon,name,description
        ,order_num,shown,level
        ,created_time,updated_time,created_by
        ,updated_by)
        values (#{id,jdbcType=INTEGER},#{parentId,jdbcType=INTEGER},#{href,jdbcType=VARCHAR}
        ,#{icon,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR}
        ,#{orderNum,jdbcType=INTEGER},#{shown,jdbcType=TINYINT},#{level,jdbcType=INTEGER}
        ,#{createdTime,jdbcType=TIMESTAMP},#{updatedTime,jdbcType=TIMESTAMP},#{createdBy,jdbcType=VARCHAR}
        ,#{updatedBy,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.Menu" useGeneratedKeys="true">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="parentId != null">parent_id,</if>
                <if test="href != null">href,</if>
                <if test="icon != null">icon,</if>
                <if test="name != null">name,</if>
                <if test="description != null">description,</if>
                <if test="orderNum != null">order_num,</if>
                <if test="shown != null">shown,</if>
                <if test="level != null">level,</if>
                <if test="createdTime != null">created_time,</if>
                <if test="updatedTime != null">updated_time,</if>
                <if test="createdBy != null">created_by,</if>
                <if test="updatedBy != null">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
                <if test="href != null">#{href,jdbcType=VARCHAR},</if>
                <if test="icon != null">#{icon,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="orderNum != null">#{orderNum,jdbcType=INTEGER},</if>
                <if test="shown != null">#{shown,jdbcType=TINYINT},</if>
                <if test="level != null">#{level,jdbcType=INTEGER},</if>
                <if test="createdTime != null">#{createdTime,jdbcType=TIMESTAMP},</if>
                <if test="updatedTime != null">#{updatedTime,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">#{createdBy,jdbcType=VARCHAR},</if>
                <if test="updatedBy != null">#{updatedBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.jsu.pojo.domain.Menu">
        update menu
        <set>
                <if test="parentId != null">
                    parent_id = #{parentId,jdbcType=INTEGER},
                </if>
                <if test="href != null">
                    href = #{href,jdbcType=VARCHAR},
                </if>
                <if test="icon != null">
                    icon = #{icon,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="orderNum != null">
                    order_num = #{orderNum,jdbcType=INTEGER},
                </if>
                <if test="shown != null">
                    shown = #{shown,jdbcType=TINYINT},
                </if>
                <if test="level != null">
                    level = #{level,jdbcType=INTEGER},
                </if>
                <if test="createdTime != null">
                    created_time = #{createdTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedTime != null">
                    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    created_by = #{createdBy,jdbcType=VARCHAR},
                </if>
                <if test="updatedBy != null">
                    updated_by = #{updatedBy,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.jsu.pojo.domain.Menu">
        update menu
        set 
            parent_id =  #{parentId,jdbcType=INTEGER},
            href =  #{href,jdbcType=VARCHAR},
            icon =  #{icon,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            order_num =  #{orderNum,jdbcType=INTEGER},
            shown =  #{shown,jdbcType=TINYINT},
            level =  #{level,jdbcType=INTEGER},
            created_time =  #{createdTime,jdbcType=TIMESTAMP},
            updated_time =  #{updatedTime,jdbcType=TIMESTAMP},
            created_by =  #{createdBy,jdbcType=VARCHAR},
            updated_by =  #{updatedBy,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
