<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jsu.mapper.PromotionAdMapper">

    <resultMap id="BaseResultMap" type="edu.jsu.pojo.domain.PromotionAd">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="spaceid" column="spaceId" jdbcType="INTEGER"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="htmlcontent" column="htmlContent" jdbcType="VARCHAR"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
            <result property="starttime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="endtime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="priority" column="priority" jdbcType="INTEGER"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,spaceId,
        keyword,htmlContent,text,
        link,startTime,endTime,
        createTime,updateTime,status,
        priority,img
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from promotion_ad
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from promotion_ad
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.PromotionAd" useGeneratedKeys="true">
        insert into promotion_ad
        ( id,name,spaceId
        ,keyword,htmlContent,text
        ,link,startTime,endTime
        ,createTime,updateTime,status
        ,priority,img)
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{spaceid,jdbcType=INTEGER}
        ,#{keyword,jdbcType=VARCHAR},#{htmlcontent,jdbcType=VARCHAR},#{text,jdbcType=VARCHAR}
        ,#{link,jdbcType=VARCHAR},#{starttime,jdbcType=TIMESTAMP},#{endtime,jdbcType=TIMESTAMP}
        ,#{createtime,jdbcType=TIMESTAMP},#{updatetime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER}
        ,#{priority,jdbcType=INTEGER},#{img,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.PromotionAd" useGeneratedKeys="true">
        insert into promotion_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="spaceid != null">spaceId,</if>
                <if test="keyword != null">keyword,</if>
                <if test="htmlcontent != null">htmlContent,</if>
                <if test="text != null">text,</if>
                <if test="link != null">link,</if>
                <if test="starttime != null">startTime,</if>
                <if test="endtime != null">endTime,</if>
                <if test="createtime != null">createTime,</if>
                <if test="updatetime != null">updateTime,</if>
                <if test="status != null">status,</if>
                <if test="priority != null">priority,</if>
                <if test="img != null">img,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="spaceid != null">#{spaceid,jdbcType=INTEGER},</if>
                <if test="keyword != null">#{keyword,jdbcType=VARCHAR},</if>
                <if test="htmlcontent != null">#{htmlcontent,jdbcType=VARCHAR},</if>
                <if test="text != null">#{text,jdbcType=VARCHAR},</if>
                <if test="link != null">#{link,jdbcType=VARCHAR},</if>
                <if test="starttime != null">#{starttime,jdbcType=TIMESTAMP},</if>
                <if test="endtime != null">#{endtime,jdbcType=TIMESTAMP},</if>
                <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP},</if>
                <if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="priority != null">#{priority,jdbcType=INTEGER},</if>
                <if test="img != null">#{img,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.jsu.pojo.domain.PromotionAd">
        update promotion_ad
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="spaceid != null">
                    spaceId = #{spaceid,jdbcType=INTEGER},
                </if>
                <if test="keyword != null">
                    keyword = #{keyword,jdbcType=VARCHAR},
                </if>
                <if test="htmlcontent != null">
                    htmlContent = #{htmlcontent,jdbcType=VARCHAR},
                </if>
                <if test="text != null">
                    text = #{text,jdbcType=VARCHAR},
                </if>
                <if test="link != null">
                    link = #{link,jdbcType=VARCHAR},
                </if>
                <if test="starttime != null">
                    startTime = #{starttime,jdbcType=TIMESTAMP},
                </if>
                <if test="endtime != null">
                    endTime = #{endtime,jdbcType=TIMESTAMP},
                </if>
                <if test="createtime != null">
                    createTime = #{createtime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatetime != null">
                    updateTime = #{updatetime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="priority != null">
                    priority = #{priority,jdbcType=INTEGER},
                </if>
                <if test="img != null">
                    img = #{img,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.jsu.pojo.domain.PromotionAd">
        update promotion_ad
        set 
            name =  #{name,jdbcType=VARCHAR},
            spaceId =  #{spaceid,jdbcType=INTEGER},
            keyword =  #{keyword,jdbcType=VARCHAR},
            htmlContent =  #{htmlcontent,jdbcType=VARCHAR},
            text =  #{text,jdbcType=VARCHAR},
            link =  #{link,jdbcType=VARCHAR},
            startTime =  #{starttime,jdbcType=TIMESTAMP},
            endTime =  #{endtime,jdbcType=TIMESTAMP},
            createTime =  #{createtime,jdbcType=TIMESTAMP},
            updateTime =  #{updatetime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=INTEGER},
            priority =  #{priority,jdbcType=INTEGER},
            img =  #{img,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
