<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jsu.mapper.RoleResourceRelationMapper">

    <resultMap id="BaseResultMap" type="edu.jsu.pojo.domain.RoleResourceRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,resource_id,role_id,
        created_time,updated_time,created_by,
        updated_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from role_resource_relation
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from role_resource_relation
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.RoleResourceRelation" useGeneratedKeys="true">
        insert into role_resource_relation
        ( id,resource_id,role_id
        ,created_time,updated_time,created_by
        ,updated_by)
        values (#{id,jdbcType=INTEGER},#{resourceId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER}
        ,#{createdTime,jdbcType=TIMESTAMP},#{updatedTime,jdbcType=TIMESTAMP},#{createdBy,jdbcType=VARCHAR}
        ,#{updatedBy,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.RoleResourceRelation" useGeneratedKeys="true">
        insert into role_resource_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="resourceId != null">resource_id,</if>
                <if test="roleId != null">role_id,</if>
                <if test="createdTime != null">created_time,</if>
                <if test="updatedTime != null">updated_time,</if>
                <if test="createdBy != null">created_by,</if>
                <if test="updatedBy != null">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="resourceId != null">#{resourceId,jdbcType=INTEGER},</if>
                <if test="roleId != null">#{roleId,jdbcType=INTEGER},</if>
                <if test="createdTime != null">#{createdTime,jdbcType=TIMESTAMP},</if>
                <if test="updatedTime != null">#{updatedTime,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">#{createdBy,jdbcType=VARCHAR},</if>
                <if test="updatedBy != null">#{updatedBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.jsu.pojo.domain.RoleResourceRelation">
        update role_resource_relation
        <set>
                <if test="resourceId != null">
                    resource_id = #{resourceId,jdbcType=INTEGER},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId,jdbcType=INTEGER},
                </if>
                <if test="createdTime != null">
                    created_time = #{createdTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedTime != null">
                    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    created_by = #{createdBy,jdbcType=VARCHAR},
                </if>
                <if test="updatedBy != null">
                    updated_by = #{updatedBy,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.jsu.pojo.domain.RoleResourceRelation">
        update role_resource_relation
        set 
            resource_id =  #{resourceId,jdbcType=INTEGER},
            role_id =  #{roleId,jdbcType=INTEGER},
            created_time =  #{createdTime,jdbcType=TIMESTAMP},
            updated_time =  #{updatedTime,jdbcType=TIMESTAMP},
            created_by =  #{createdBy,jdbcType=VARCHAR},
            updated_by =  #{updatedBy,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
