<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jsu.mapper.RolesMapper">

    <resultMap id="BaseResultMap" type="edu.jsu.pojo.domain.Roles">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,
        description,created_time,updated_time,
        created_by,updated_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from roles
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from roles
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.Roles" useGeneratedKeys="true">
        insert into roles
        ( id,code,name
        ,description,created_time,updated_time
        ,created_by,updated_by)
        values (#{id,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{description,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedTime,jdbcType=TIMESTAMP}
        ,#{createdBy,jdbcType=VARCHAR},#{updatedBy,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.jsu.pojo.domain.Roles" useGeneratedKeys="true">
        insert into roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="code != null">code,</if>
                <if test="name != null">name,</if>
                <if test="description != null">description,</if>
                <if test="createdTime != null">created_time,</if>
                <if test="updatedTime != null">updated_time,</if>
                <if test="createdBy != null">created_by,</if>
                <if test="updatedBy != null">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="code != null">#{code,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="createdTime != null">#{createdTime,jdbcType=TIMESTAMP},</if>
                <if test="updatedTime != null">#{updatedTime,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">#{createdBy,jdbcType=VARCHAR},</if>
                <if test="updatedBy != null">#{updatedBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.jsu.pojo.domain.Roles">
        update roles
        <set>
                <if test="code != null">
                    code = #{code,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="createdTime != null">
                    created_time = #{createdTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedTime != null">
                    updated_time = #{updatedTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    created_by = #{createdBy,jdbcType=VARCHAR},
                </if>
                <if test="updatedBy != null">
                    updated_by = #{updatedBy,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.jsu.pojo.domain.Roles">
        update roles
        set 
            code =  #{code,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            created_time =  #{createdTime,jdbcType=TIMESTAMP},
            updated_time =  #{updatedTime,jdbcType=TIMESTAMP},
            created_by =  #{createdBy,jdbcType=VARCHAR},
            updated_by =  #{updatedBy,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
